.profile__edit {
  display: block;
  background-image: url(./../../../images/icons/edit.svg);
  background-size: cover;
  background-position: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: .3s ease-in-out;
  border: 1px solid #fff;
  background-color: transparent;
  background-repeat: no-repeat;
}

.profile__edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 720px) {
  .profile__edit {
    width: 18px;
    height: 18px;
  }
}
